@model BookReview.Models.TemplateModels.BookBox
<li>
    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.Name)
    @Html.LabelFor(m => m.Author)
    @Html.LabelFor(m => m.Publisher)
    @Html.LabelFor(m => m.PublishDate)
</li>
