@model BookReview.Models.ViewModels.BookBookDetail
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <link href="@Url.Content("~/Content/rateit.css")" rel="stylesheet"/>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.rateit.min.js")"></script>
}

<h2>BookDetail</h2>

<div style="padding: 30px 20px 30px 20px;" class="row">
    <div style="float: left; margin-right: 20px">
        <img src="@Url.Content("~/Content/images/icon-book.png")" alt="Book Icon" class="img-polaroid" />
    </div>
    <div style="float: left">
        @Html.LabelFor(m => m.Name)
        @Html.DisplayTextFor(m => m.Name)
        @Html.LabelFor(m => m.Author)
        @Html.DisplayTextFor(m => m.Author)
        @Html.LabelFor(m => m.Publisher)
        @Html.DisplayTextFor(m => m.Publisher)
        @Html.LabelFor(m => m.PublishDate)
        @Html.DisplayTextFor(m => m.PublishDate)
    </div>
</div>

<ul class="inline">
    <li><a href="#" title="評論"><i class="icon-tags"></i>評論</a></li>
    <li><a href="#" title="收藏"><i class="icon-heart"></i>收藏</a></li>
    <li><a href="#" title="願望"><i class="icon-shopping-cart"></i>願望</a></li>
</ul>

<div class="row">
    <input type="range" value="4" step="0.25" id="backing4">
    <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false" data-rateit-ispreset="true"
        data-rateit-min="0" data-rateit-max="10">
    </div>
</div>

<dl id="commont">
    @Html.DisplayFor(m => m.ListBookComment)
</dl>

@using (Html.BeginForm("AddComment", "Book", FormMethod.Post))
{
    @Html.EditorFor(m => m.BookComment)
}