@using BookReview.App_GlobalResources
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET MVC 應用程式</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
    <style>
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
    @*選單列*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                @Html.ActionLink("Logo", "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        @if (!User.Identity.IsAuthenticated)
                        { 
                            <li>@Html.ActionLink(Resource.SignUp, "Register", "Account")</li>
                            <li>@Html.ActionLink(Resource.Login, "Login", "Account")</li>
                        }
                        else
                        { 
                            <li>@Html.ActionLink(User.Identity.Name, "Index", "Member")</li>
                            <li>@Html.ActionLink(Resource.Logout, "LogOff", "Account")</li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resource.Language<b class="caret"></b></a>
                            @*@Html.DropDownList("Language",
                            new SelectList(
                                new List<SelectListItem>(){ 
                                    new SelectListItem() { Selected = true, Text = Resource.Select, Value = string.Empty }, 
                                    new SelectListItem() { Text = Resource.Chinese, Value = "zh-TW" }, 
                                    new SelectListItem() { Text = Resource.English, Value = "en-US" }
                            }, "Value", "Text"))*@
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(Resource.Chinese, "ChangeLanguage", "Home", new { language = "zh-TW", returnUrl = Url.Action(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString()) }, null)</li>
                                <li>@Html.ActionLink(Resource.English, "ChangeLanguage", "Home", new { Language = "en-US", returnUrl = Url.Action(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString()) }, null)</li>
                                @*<li><a href="#">@Resource.Chinese</a></li>
                                <li><a href="#">@Resource.English</a></li>*@
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    @*內容*@
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="inline">
                <a href="#">書店地圖</a>
                <a href="#">賣好書</a>
                <a href="#">關於我們</a>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
